# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
build
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# android start ==============
# Gradle 构建产物
android/.gradle/
android/build/
android/app/build/
android/captures/

# 本地环境配置文件 (包含你的 SDK 路径，每个人都不同)
android/local.properties

# Android Studio 配置文件
android/.idea/
android/*.iml

# 签名文件 (千万不要上传私钥！)
*.jks
*.keystore
*.p12

# 日志与临时文件
android/.externalNativeBuild/
android/.cxx/
# android end ==============
